{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > models4print : compte-rendu échographie gynécologique
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 #}

{% set tag = page.courrier %}

<h2 style="text-align : center">{{ tag.identiteUsuelleTitreCourtDdn }}</h2>

<h2>Echographie gynécologique</h2>
Réalisée sur échographe  mis en circulation le
<br>
<p>
<span style="font-weight : bold">Date d’examen :</span> {{ tag.date|date("d/m/Y") }}
{% if tag.eGynPrescripteur %} &nbsp;&nbsp;-&nbsp;&nbsp; <span style="font-weight : bold">Prescripteur :</span> {{ tag.eGynPrescripteur }}{% endif %}<br>
<span style="font-weight : bold">Voie d’examen :</span> {{ tag.eGynVoieExam }}
{% if tag.eGynConditions %} &nbsp;&nbsp;-&nbsp;&nbsp; <span style="font-weight : bold">Conditions d’examen :</span> {{ tag.eGynConditions }} {% if tag.imc > 0 %}<span class="t6">(IMC : {{ tag.imc }})</span>{% endif %}{% endif %}<br>
{% if tag.eGynDDR %}<span style="font-weight : bold">Date des dernières règles :</span> {{ tag.eGynDDR }}{% endif %}
{% if tag.eGynDDR or tag.eGynContexteGyn %} &nbsp;&nbsp;-&nbsp;&nbsp; {% endif %}
{% if tag.eGynContexteGyn %}<span style="font-weight : bold">Contexte gynécologique :</span> {{ tag.eGynContexteGyn }}{% endif %}<br>
<span style="font-weight : bold">Indication :</span><br>
{% if tag.eGynIndicUterus %}- {{ tag.eGynIndicUterus }}<br>{% endif %}
{% if tag.eGynIndicAnnexes %}- {{ tag.eGynIndicAnnexes }}<br>{% endif %}
{% if tag.eGynIndicAutres %}- {{ tag.eGynIndicAutres }}<br>{% endif %}
{% if tag.eGyn %}- {{ tag.eGyn|nl2br }}<br>{% endif %}
</p>


{% if tag.val_eGynPosiUterus != 'absent' %}
  <h3>Utérus</h3>
  <ul>
    {% if tag.eGynUterusLong or tag.eGynUterusLarg or tag.eGynUterusHauteur  %}<li>Dimensions : {{ tag.eGynUterusLong }} mm x {{ tag.eGynUterusLarg }} mm x {{ tag.eGynUterusHauteur }} mm</li>{% endif %}
    <li>Position utérine : {{ tag.eGynPosiUterus }}</li>
    <li>Contours : {{ tag.eGynUterusContours }}</li>
    <li>Structure du myomètre : {{ tag.eGynUterusStuctureMyo }}</li>
    {% if tag.eGynEndom %}<li>Aspect de l'endomètre  : {{ tag.eGynEndom }}</li>{% endif %}
    {% if tag.eGynEndomEpai %}<li>Épaisseur de l'endomètre  : {{ tag.eGynEndomEpai }} mm</li>{% endif %}
    {% if tag.eGynCavité %}<li>Cavité  : {{ tag.eGynCavité }}</li>{% endif %}
    {% if tag.eGynCaviteDIU %}<li>Contenu de la cavité  : {{ tag.eGynCaviteDIU }}</li>{% endif %}
  </ul>
{% endif %}

{% if tag.eGynDopAUDIR or tag.eGynDopAUGIR or tag.eGynDopAUDIP or tag.eGynDopAUGIP %}
  <h3>Dopplers</h3>
  <ul>
    {% if tag.eGynDopAUDIR %}<li>Artère utérine droite :{% if tag.eGynDopAUDIR %} IR {{ tag.eGynDopAUDIR }}{% endif %}{% if tag.eGynDopAUDIP %} IP {{ tag.eGynDopAUDIP }}{% endif %}</li>{% endif %}
    {% if tag.eGynDopAUGIR %}<li>Artère utérine gauche :{% if tag.eGynDopAUGIR %} IR {{ tag.eGynDopAUGIR }}{% endif %}{% if tag.eGynDopAUGIP %} IP {{ tag.eGynDopAUGIP }}{% endif %}</li>{% endif %}
  </ul>
{% endif %}

{% if tag.eGynOvaireDroit or tag.eGynOvaireDtGdAxe or tag.eGynOvaireGauche or tag.eGynOvaireGGdAxe %}
  <h3>Ovaires</h3>
  <ul>
    {% if tag.eGynOvaireDroit %}<li>Aspect de l'ovaire droit : {{ tag.eGynOvaireDroit|nl2br }}</li>{% endif %}
    {% if tag.eGynOvaireDtGdAxe %}<li>Grand axe ovaire droit : {{ tag.eGynOvaireDtGdAxe }} mm</li>{% endif %}
    {% if tag.eGynOvaireGauche %}<li>Aspect de l'ovaire gauche : {{ tag.eGynOvaireGauche|nl2br }}</li>{% endif %}
    {% if tag.eGynOvaireGGdAxe %}<li>Grand axe ovaire gauche : {{ tag.eGynOvaireGGdAxe }} mm</li>{% endif %}
  </ul>
{% endif %}

{% if tag.eGynDouglas or tag.eGynCulsDeSacLat %}
  <h3>Culs de sac</h3>
  <ul>
    {% if tag.eGynDouglas %}<li>Douglas : {{ tag.eGynDouglas|nl2br }}</li>{% endif %}
    {% if tag.eGynCulsDeSacLat %}<li>Culs de sac latéraux : {{ tag.eGynCulsDeSacLat|nl2br }}</li>{% endif %}
  </ul>
{% endif %}

{% if tag.eGynDescriptionTrompes %}
  <h3>Trompes</h3>
  <ul>
    <li>Aspect des trompes : {{ tag.eGynDescriptionTrompes|nl2br }}</li>
  </ul>
{% endif %}

<h3>Conclusion</h3>
<p>{{ tag.eGynConclusion|nl2br }}
</p>
