{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > models4print : compte-rendu échographie 12 SA
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 #}

{% set tag = page.courrier %}




<h2 style="text-align : center">{{ tag.identiteUsuelleTitreCourtDdn }}</h2>

<h2 style="margin-bottom : 0">Echographie obstétricale du 1er trimestre</h2>
<span class="t8">Réalisée sur échographe  mis en circulation le </span>
<br>
<p>
<span class="gras">Date d’examen :</span> {{ tag.date|date("d/m/Y") }} &nbsp;-&nbsp;
<span class="gras">Voie d’examen :</span> {{ tag.voieExamEcho12 }} &nbsp;-&nbsp;
<span class="gras">Conditions d’examen :</span> {{ tag.conditionsEcho12 }} {% if tag.imc > 0 %}<span class="t6">(IMC : {{ tag.imc }})</span>{% endif %}<br>
<span class="gras">Indication :</span> {{ tag.indicEcho12 }}<br>
</p>

{% if tag.DDR %}
<span class="gras">DDR :</span> {{ tag.DDR }} -	<span class="gras">DDG théorique : </span>{{ tag.ddg }}	- <span class="gras">Terme théorique : </span>{{ tag.termeDuJour }}{% else %}<span style="font-weight : bold">DDR :</span> non précisée{% endif %}


<p><span class="gras">Nombre de fœtus : {{ tag.nbFoetusEcho12 }}</span>
{% if tag.nbFoetusEcho12 > 1 %}
<br><span class="gras">Type de grossesse :</span> {{ tag.e12typeGro }}
<br><span class="gras">Membrane :</span> {{ tag.e12membrane }}
{% endif %}
</p>

<h3>{% if tag.nbFoetusEcho12 == 1 %}Fœtus unique{% else %}Fœtus A{% endif %}</h3>
  <h4>Vitalité</h4>
  <ul>
  <li>Activité cardiaque : {{ tag.actiCardioFA }}</li>
  {% if tag.rcfFA %}<li>Fréquence cardiaque : {{ tag.rcfFA }} bpm</li>{% endif %}
  <li>Mouvements actifs foetaux : {{ tag.mafFA }}</li>
  </ul>

  <h4>Biométries <small>(INTERGROWTH-21st)</small></h4>
  <ul>
  <li>Longueur cranio-caudale : {{ tag.lccA }} mm {% if tag.nbFoetusEcho12 == 1 %}correspondant à un début de grossesse au {{ tag.ddgReel }}{% endif %}</li>
  {% if tag.bipFA %}<li>BIP : {{ tag.bipFA }} mm</li>{% endif %}
  {% if tag.paFA %}<li>Périmètre abdominal : {{ tag.paFA }} mm</li>{% endif %}
  {% if tag.e12femurA %}<li>Fémur : {{ tag.e12femurA }} mm</li>{% endif %}
  {% if tag.cnFA %}<li>Clarté nucale : {{ tag.cnFA }} mm</li>{% endif %}
  </ul>

  <h4>Morphologie</h4>
  <ul>
  <li>Pôle céphalique : {{ tag.morphoCephaFA|nl2br }}</li>
  <li>Abdomen : {{ tag.abdoFA|nl2br }}</li>
  <li>Membres : {{ tag.membresFA|nl2br }}</li>
  </ul>

  <div style="page-break-inside: avoid;">
  <h4>Annexes</h4>
  <ul>
  <li>Liquide amniotique : {{ tag.E12liquideA }}</li>
  {% if tag.e12trophoFA %}<li>Localisation du trophoblaste : {{ tag.e12trophoFA }}</li>{% endif %}
  <li>Aspect du trophoblaste : {{ tag.e12trophoAspectFA }}</li>
  <li>{{ tag.e12decoFA|capitalize }}</li>
  </ul>
  </div>

{% if tag.nbFoetusEcho12 > 1 %}
<h3>Fœtus B</h3>
  <h4>Vitalité</h4>
  <ul>
  <li>Activité cardiaque : {{ tag.actiCardioFB }}</li>
  {% if tag.rcfFB %}<li>Fréquence cardiaque : {{ tag.rcfFB }} bpm</li>{% endif %}
  <li>Mouvements actifs foetaux : {{ tag.mafFB }}</li>
  </ul>

  <h4>Biométries <small>(INTERGROWTH-21st)</small></h4>
  <ul>
  <li>Longueur cranio-caudale : {{ tag.lccB }}</li>
  {% if tag.bipFB %}<li>BIP : {{ tag.bipFB }} mm</li>{% endif %}
  {% if tag.paFB %}<li>Périmètre abdominal : {{ tag.paFB }} mm</li>{% endif %}
  {% if tag.e12femurB %}<li>Fémur : {{ tag.e12femurB }} mm</li>{% endif %}
  {% if tag.cnFB %}<li>Clarté nucale : {{ tag.cnFB }} mm</li>{% endif %}
  </ul>

  <h4>Morphologie</h4>
  <ul>
  <li>Pôle céphalique : {{ tag.morphoCephaFB|nl2br }}</li>
  <li>Abdomen : {{ tag.abdoFB|nl2br }}</li>
  <li>Membres : {{ tag.membresFB|nl2br }}</li>
  </ul>

  <h4>Annexes</h4>
  <ul>
  <li>Liquide amniotique : {{ tag.E12liquideB }}</li>
  {% if tag.e12trophoFB %}<li>Localisation du trophoblaste : {{ tag.e12trophoFB }}</li>{% endif %}
  <li>Aspect du trophoblaste : {{ tag.e12trophoAspectFB }}</li>
  <li>{{ tag.e12decoFB|capitalize }}</li> {# décollement #}
  </ul>

{% endif %}{% if tag.nbFoetusEcho12 > 2 %}
<h3>Fœtus C</h3>
  <h4>Vitalité</h4>
  <ul>
  <li>Activité cardiaque : {{ tag.actiCardioFC }}</li>
  {% if tag.rcfFC %}<li>Fréquence cardiaque : {{ tag.rcfFC }} bpm</li>{% endif %}
  <li>Mouvements actifs foetaux : {{ tag.mafFC }}</li>
  </ul>

  <h4>Biométries <small>(INTERGROWTH-21st)</small></h4>
  <ul>
  <li>Longueur cranio-caudale :  {{ tag.lccC }}</li>
  {% if tag.bipFC %}<li>BIP : {{ tag.bipFC }} mm</li>{% endif %}
  {% if tag.paFC %}<li>Périmètre abdominal : {{ tag.paFC }} mm</li>{% endif %}
  {% if tag.e12femurC %}<li>Fémur : {{ tag.e12femurC }} mm</li>{% endif %}
  {% if tag.cnFC %}<li>Clarté nucale :  {{ tag.cnFC }} mm</li>{% endif %}
  </ul>

  <h4>Morphologie</h4>
  <ul>
  <li>Pôle céphalique : {{ tag.morphoCephaFC|nl2br }}</li>
  <li>Abdomen : {{ tag.abdoFC|nl2br }}</li>
  <li>Membres : {{ tag.membresFC|nl2br }}</li>
  </ul>

  <h4>Annexes</h4>
  <ul>
  <li>Liquide amniotique : {{ tag.E12liquideC }}</li>
  {% if tag.e12trophoFC %}<li>Localisation du trophoblaste : {{ tag.e12trophoFC }}</li>{% endif %}
  <li>Aspect du trophoblaste : {{ tag.e12trophoAspectFC }}</li>
  <li>{{ tag.e12decoFC|capitalize }}</li> {# décollement #}
  </ul>


{% endif %}
<h3>Conclusion</h3>
<p>{{ tag.conclusionE12|nl2br }}
<br>
Date de début de grossesse estimée au {{ tag.ddgReel }} (à 5 jours près) soit un terme ce jour à {{ tag.termeReelJourExamen }}.
</p>


<p class="t6" style="margin-top : 20pt">Par le mot “aspect” on entend que l’opérateur a examiné une structure ou un organe. Dans le compte rendu, une mention de type “structure d’aspect habituel” signifie que cette structure a été vue et a paru normale à l’examinateur. Dans la majorité des cas, il y a concordance entre le résultat du dépistage échographique et l’état de santé de l’enfant. Cependant, comme pour tout dépistage, des faux négatifs sont possibles : une structure considérée comme vue et normale à l’échographie peut s’avérer en réalité absente ou anormale. Des faux positifs sont également possibles : une structure considérée comme non vue ou anormale à l’échographie peut s’avérer en réalité présente ou normale</p>
