{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > models4print : compte-rendu échographie 22SA
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 #}

{% set tag = page.courrier %}




<h2 class="centrer">{{ tag.identiteUsuelleTitreCourtDdn }}</h2>

<h2 style="margin-bottom : 0">Echographie obstétricale du 2e trimestre</h2>
<span class="t8">Réalisée sur échographe  mis en circulation le </span>
<br>

<p>
  <span class="gras">Date d'examen :</span> {{ tag.date|date("d/m/Y") }}<br>
  <span class="gras">DDG retenue : {{ tag.ddgReel }}</span> soit un terme de {{ tag.termeReelJourExamen }}.
</p>

<p>
  <span class="gras">Voie d’examen :</span> {{ tag.voieExamEcho22 }} &nbsp;-&nbsp;
  <span class="gras">Conditions d’examen :</span> {{ tag.conditionsEcho22 }} {% if tag.imc %}<span class="t6">(IMC : {{ tag.imc }})</span>{% endif %}<br>
  <span class="gras">Indication :</span> {{ tag.indicEcho22 }}<br>
</p>


<p><span class="gras">Nombre de fœtus : {{ tag.nbFoetusEcho22 }}</span>
{% if tag.nbFoetusEcho22 > 1 %}
  <br><span class="gras">Type de grossesse :</span> {{ tag.e22typeGro }}
  <br><span class="gras">Membrane :</span> {{ tag.e22membrane }}
{% endif %}
</p>

<h3>{% if tag.nbFoetusEcho22 == 1 %}Fœtus unique{% else %}Fœtus A{% endif %}</h3>
  <h4>Présentation et vitalité</h4>
  <ul>
  <li>Présentation : {{ tag.e22presentationFA }}</li>
  <li>Activité cardiaque : {{ tag.e22actiCardioFA }}</li>
  {% if tag.e22rcfFA %}<li>Fréquence cardiaque : {{ tag.e22rcfFA }} bpm</li>{% endif %}
  <li>Mouvements foetaux : {{ tag.e22mafFA }}</li>
  </ul>

  <h4>Biométries <small>({{ config.calcMedGynobsEPF }})</small></h4>
  <ul>
  <li>BIP : {{ tag.e22bipFA }} mm soit {{ tag.pct_e22bipFA }}e percentiles</li>
  <li>Périmètre crânien : {{ tag.e22pcFA }} mm soit {{ tag.pct_e22pcFA }}e percentiles</li>
  <li>Périmètre abdominal : {{ tag.e22paFA }} mm soit {{ tag.pct_e22paFA }}e percentiles</li>
  <li>Fémur : {{ tag.e22femurA }} mm soit {{ tag.pct_e22femurA }}e percentiles</li>
  <li>Poids estimé <span class="t6">(+/- 20% maximum - {{ config.calcMedGynobsEPF }})</span> : {{ tag.e22poidsFA }} g soit {{ tag.pct_e22poidsFA }}e percentiles</li>
  </ul>

  <h4>Morphologie</h4>

  {{ tag.e22morphologieGeneralesFA|nl2br }}<br>
  {% if tag.val_e22morphoOGEFA == 'XX' %}Les organes génitaux externes sont de type féminin.
  {% elseif tag.val_e22morphoOGEFA == 'XY' %}Les organes génitaux externes sont de type masculin.
  {% elseif tag.val_e22morphoOGEFA == 'XXnr' or tag.val_e22morphoOGEFA == 'XYnr' %}Les organes génitaux externes sont normaux.
  {% elseif tag.val_e22morphoOGEFA == 'NV' %}Les organes génitaux externes n'ont pas été visualisés ce jour.
  {% endif %}


  <h4>Annexes</h4>
  <ul>
  <li>{{ tag.e22liquideEtcordonFA }}</li> {# liquide et cordon #}
  <li>Placenta : {{ tag.e22placentaFA }}</li>
  </ul>

  {% if tag.e22dopOmbiIRFA or tag.e22dopACMIRFA or tag.e22dopArantiusIRFA %}
    <h4>Doppler</h4>
    <ul>
      {% if tag.e22dopOmbiIRFA %}<li>Doppler ombilical - IR : {{ tag.e22dopOmbiIRFA }} / Flux en diastole : {{ tag.e22dopOmbiFEDiaFA }}</li>{% endif %}
      {% if tag.e22dopACMIRFA %}<li>Doppler ACM - IR : {{ tag.e22dopACMIRFA }} {% if tag.e22dopACMVFA %}/ Vitesse : {{ tag.e22dopACMVFA }}{% endif %} {% if tag.e22dopACMMoMFA %}/ MoM : {{ tag.e22dopACMMoMFA }}{% endif %}</li>{% endif %}
      {% if tag.e22dopArantiusIRFA %}<li>Doppler Arantius - IR : {{ tag.e22dopArantiusIRFA }} / Onde A : {{ tag.e22dopArantiusOAFA }}</li>{% endif %}
    </ul>
  {% endif %}

  {% if tag.nbFoetusEcho22 >= 2 %}
      <h3>Fœtus B</h3>
      <h4>Présentation et vitalité</h4>
      <ul>
      <li>Présentation : {{ tag.e22presentationFB }}</li>
      <li>Activité cardiaque : {{ tag.e22actiCardioFB }}</li>
      {% if tag.e22rcfFB %}<li>Fréquence cardiaque : {{ tag.e22rcfFB }} bpm</li>{% endif %}
      <li>Mouvements foetaux : {{ tag.e22mafFB }}</li>
      </ul>

      <h4>Biométries <small>({{ config.calcMedGynobsEPF }})</small></h4>
      <ul>
      <li>BIP : {{ tag.e22bipFB }} mm soit {{ tag.pct_e22bipFB }}e percentiles</li>
      <li>Périmètre crânien : {{ tag.e22pcFB }} mm soit {{ tag.pct_e22pcFB }}e percentiles</li>
      <li>Périmètre abdominal : {{ tag.e22paFB }} mm soit {{ tag.pct_e22paFB }}e percentiles</li>
      <li>Fémur : {{ tag.e22femurB }} mm soit {{ tag.pct_e22femurB }}e percentiles</li>
      <li>Poids estimé <span style="font-size : 6pt">(+/- 20% maximum - {{ config.calcMedGynobsEPF }})</span> : {{ tag.e22poidsFB }} g soit {{ tag.pct_e22poidsFB }}e percentiles</li>
      </ul>

      <h4>Morphologie</h4>
      {{ tag.e22morphologieGeneralesFB|nl2br }}<br>
      {% if tag.val_e22morphoOGEFB == 'XX' %}Les organes génitaux externes sont de type féminin.
      {% elseif tag.val_e22morphoOGEFB == 'XY' %}Les organes génitaux externes sont de type masculin.
      {% elseif tag.val_e22morphoOGEFB == 'XXnr' or tag.val_e22morphoOGEFB == 'XYnr' %}Les organes génitaux externes sont normaux.
      {% elseif tag.val_e22morphoOGEFB == 'NV' %}Les organes génitaux externes n'ont pas été visualisés ce jour.
      {% endif %}


      <h4>Annexes</h4>
      <ul>
      <li>{{ tag.e22liquideEtcordonFB }}</li> {# liquide et cordon #}
      <li>Placenta : {{ tag.e22placentaFB }}</li>
      </ul>

      {% if tag.e22dopOmbiIRFB or tag.e22dopACMIRFB or tag.e22dopArantiusIRFB %}
        <h4>Dopplers</h4>
        <ul>
          {% if tag.e22dopOmbiIRFB %}<li>Doppler ombilical - IR : {{ tag.e22dopOmbiIRFB }} / Flux en diastole : {{ tag.e22dopOmbiFEDiaFB }}</li>{% endif %}
          {% if tag.e22dopACMIRFB %}<li>Doppler ACM - IR : {{ tag.e22dopACMIRFB }} {% if tag.e22dopACMVFB %}/ Vitesse : {{ tag.e22dopACMVFB }}{% endif %} {% if tag.e22dopACMMoMFB %}/ MoM : {{ tag.e22dopACMMoMFB }}{% endif %}</li>{% endif %}
          {% if tag.e22dopArantiusIRFB %}<li>Doppler Arantius - IR : {{ tag.e22dopArantiusIRFB }} / Onde A : {{ tag.e22dopArantiusOAFB }}</li>{% endif %}
        </ul>
      {% endif %}


  {% endif %}


{% if tag.nbFoetusEcho22 >= 3 %}
  <h3>Fœtus C</h3>
  <h4>Présentation et vitalité</h4>
  <ul>
  <li>Présentation : {{ tag.e22presentationFC }}</li>
  <li>Activité cardiaque : {{ tag.e22actiCardioFC }}</li>
  {% if tag.e22rcfFC %}<li>Fréquence cardiaque : {{ tag.e22rcfFC }} bpm</li>{% endif %}
  <li>Mouvements foetaux : {{ tag.e22mafFC }}</li>
  </ul>

  <h4>Biométries <small>({{ config.calcMedGynobsEPF }})</small></h4>
  <ul>
  <li>BIP : {{ tag.e22bipFC }} mm soit {{ tag.pct_e22bipFC }}e percentiles</li>
  <li>Périmètre crânien : {{ tag.e22pcFC }} mm soit {{ tag.pct_e22pcFC }}e percentiles</li>
  <li>Périmètre abdominal : {{ tag.e22paFC }} mm soit {{ tag.pct_e22paFC }}e percentiles</li>
  <li>Fémur : {{ tag.e22femurC }} mm soit {{ tag.pct_e22femurC }}e perentiles</li>
  <li>Poids estimé <span style="font-size : 6pt">(+/- 20% maximum  - {{ config.calcMedGynobsEPF }})</span> : {{ tag.e22poidsFC }} g soit {{ tag.pct_e22poidsFC }}e percentiles</li>
  </ul>

  <h4>Morphologie</h4>

  {{ tag.e22morphologieGeneralesFC|nl2br }}<br>
  {% if tag.val_e22morphoOGEFC == 'XX' %}Les organes génitaux externes sont de type féminin.
  {% elseif tag.val_e22morphoOGEFC == 'XY' %}Les organes génitaux externes sont de type masculin.
  {% elseif tag.val_e22morphoOGEFC == 'XXnr' or tag.val_e22morphoOGEFC == 'XYnr' %}Les organes génitaux externes sont normaux.
  {% elseif tag.val_e22morphoOGEFC == 'NV' %}Les organes génitaux externes n'ont pas été visualisés ce jour.
  {% endif %}

  <h4>Annexes</h4>
  <ul>
  <li>{{ tag.e22liquideEtcordonFC }}</li> {# liquide et cordon #}
  <li>Placenta : {{ tag.e22placentaFC }}</li>
  </ul>

  {% if tag.e22dopOmbiIRFC or tag.e22dopACMIRFC or tag.e22dopArantiusIRFC %}
    <h4>Doppler</h4>
    <ul>
      {% if tag.e22dopOmbiIRFC %}<li>Doppler ombilical - IR : {{ tag.e22dopOmbiIRFC }} / Flux en diastole : {{ tag.e22dopOmbiFEDiaFC }}</li>{% endif %}
      {% if tag.e22dopACMIRFC %}<li>Doppler ACM - IR : {{ tag.e22dopACMIRFC }} {% if tag.e22dopACMVFC %}/ Vitesse : {{ tag.e22dopACMVFC }}{% endif %} {% if tag.e22dopACMMoMFC %}/ MoM : {{ tag.e22dopACMMoMFC }}{% endif %}</li>{% endif %}
      {% if tag.e22dopArantiusIRFC %}<li>Doppler Arantius - IR : {{ tag.e22dopArantiusIRFC }} / Onde A : {{ tag.e22dopArantiusOAFC }}</li>{% endif %}
    </ul>
  {% endif %}


  {% endif %}


  {% if tag.e22dopUterDtIR or tag.e22dopUterGIR or tag.e22colLg %}
    <h3>Utérus</h3>

    {% if tag.e22dopUterDtIR or tag.e22dopUterGIR %}
      <h4>Dopplers</h4>
      <ul>
        {% if tag.e22dopUterDtIR %}<li>Artère utérine droite - IR : {{ tag.e22dopUterDtIR }} / Notch : {{ tag.e22dopUterDtNotch }}</li>{% else %}Artère utérine droite : non mesurable{% endif %}
        {% if tag.e22dopUterGIR %}<li>Artère utérine gauche - IR : {{ tag.e22dopUterGIR }}/ Notch : {{ tag.e22dopUterGNotch }}</li>{% else %}Artère utérine gauche : non mesurable{% endif %}
      </ul>
    {% endif %}

    {% if tag.e22colLg %}
      <h4>Col</h4>
      <ul>
        <li>Longueur du col : {{ tag.e22colLg }} mm</li>
        <li>Entonnoir : {{ tag.e22colEntonnoir }}</li>
      </ul>
    {% endif %}

  {% endif %}

  <h3>Conclusion</h3>
  <p>{{ tag.conclusionE22|nl2br }}</p>



<p class="t6" style="margin-top : 20pt">Par le mot “aspect” on entend que l’opérateur a examiné une structure ou un organe. Dans le compte rendu, une mention de type “structure d’aspect habituel” signifie que cette structure a été vue et a paru normale à l’examinateur. Dans la majorité des cas, il y a concordance entre le résultat du dépistage échographique et l’état de santé de l’enfant. Cependant, comme pour tout dépistage, des faux négatifs sont possibles : une structure considérée comme vue et normale à l’échographie peut s’avérer en réalité absente ou anormale. Des faux positifs sont également possibles : une structure considérée comme non vue ou anormale à l’échographie peut s’avérer en réalité présente ou normale</p>
