{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > models4print : compte-rendu echographie avant 11 SA
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 #}

{% set tag = page.courrier %}



<h2 style="text-align : center">{{ tag.identiteUsuelleTitreCourtDdn }}</h2>

<h2>Echographie obstétricale</h2>
Réalisée sur échographe  mis en circulation le
<br><br>
<p>
<span style="font-weight : bold">Date d’examen :</span> {{ tag.date|date("d/m/Y") }}<br>
<span style="font-weight : bold">Voie d’examen :</span> {{ tag.e11voieExamen }}<br>
<span style="font-weight : bold">Conditions d’examen :</span> {{ tag.e11conditionEcho }}<br>
<span style="font-weight : bold">Indication :</span> {{ tag.e11indic }}<br>
</p>

{% if tag.DDR %}
<span style="font-weight : bold">DDR :</span> {{ tag.DDR }} -	<span style="font-weight : bold">DDG théorique : </span>{{ tag.ddg }}	- <span style="font-weight : bold">Terme théorique : </span>{{ tag.termeDuJour }}{% else %}<span style="font-weight : bold">DDR :</span> non précisée{% endif %}


<p><span style="font-weight : bold">Nombre d'embryons : {{ tag.e11nbembryons }}</span>
{% if tag.e11nbembryons > 1 %}
<br><span style="font-weight : bold">Type de grossesse :</span> {{ tag.e11typeGro }}
<br><span style="font-weight : bold">Membrane :</span> {{ tag.e11membrane }}
{% endif %}
</p>


{# EMBRYON A #}
  {% if tag.val_e11foetusvuFA == 'B' %} {# EMBRYON A NON VISIBLE #}

  <h3>Embryon</h3>

  <p>Embryon non visible</p>

  {% elseif tag.val_e11foetusvuFA == 'A' %} {# EMBRYON A VISIBLE #}

  <h3>{% if tag.e11nbembryons == 1 %}Embryon unique{% else %}Embryon A{% endif %}</h3>

  <h4>Vitalité</h4>
  <ul>
  <li>Activité cardiaque : {{ tag.e11embryActiCardFA }}</li>
  {% if tag.e11RCFFA %}<li>Fréquence cardiaque : {{ tag.e11RCFFA }} bpm</li>{% endif %}
  </ul>

  <h4>Biométries <small>(INTERGROWTH-21st)</small></h4>
  <ul>
  <li>Longueur cranio-caudale : {{ tag.e11embryLCCFA }} mm {% if tag.e11nbembryons == 1 %}correspondant à un début de grossesse autour du {{ tag.ddgReel }}{% endif %}</li>
  {% if tag.e11EmbryBIPFA %}<li>BIP : {{ tag.e11EmbryBIPFA }} mm</li>{% endif %}
  </ul>

  <h4>Morphologie</h4>
  <ul>
  <li>Pôle céphalique : {{ tag.e11morphoCephaFA|nl2br }}</li>
  <li>Membres : {{ tag.e11morphoMembresFA|nl2br }}</li>
  </ul>


  {% endif %}

  <h4>Sac gestationnel</h4>
  <ul>
  <li>Localisation : {{ tag.e11SGlocaFA }}</li>
  <li>Diamètre : {{ tag.e11sgdimdiametreFA }} mm</li>
  <li>Tonicité : {{ tag.e11sgtoniciteFA }}</li>
  <li>Trophoblaste : {{ tag.e11sgtrophoFA }}</li>
  <li>{{ tag.e11sgdecoFA|capitalize }}</li> {# décollement #}
  </ul>


{% if tag.e11nbembryons> 1 %}

  {# EMBRYON B #}
    {% if tag.val_e11foetusvuFB == 'B' %} {# EMBRYON B NON VISIBLE #}

    <h3>Embryon B</h3>

    <p>Embryon non visible</p>

    {% elseif tag.val_e11foetusvuFB == 'A' %} {# EMBRYON B VISIBLE #}

    <h3>Embryon B</h3>

    <h4>Vitalité</h4>
    <ul>
    <li>Activité cardiaque : {{ tag.e11embryActiCardFB }}</li>
    {% if tag.e11RCFFB %}<li>Fréquence cardiaque : {{ tag.e11RCFFB }} bpm</li>{% endif %}
    </ul>

    <h4>Biométries <small>(INTERGROWTH-21st)</small></h4>
    <ul>
    <li>Longueur cranio-caudale : {{ tag.e11embryLCCFB }} mm</li>
    {% if tag.e11EmbryBIPFB %}<li>BIP : {{ tag.e11EmbryBIPFB }} mm</li>{% endif %}
    </ul>

    <h4>Morphologie</h4>
    <ul>
    <li>Pôle céphalique : {{ tag.e11morphoCephaFB|nl2br }}</li>
    <li>Membres : {{ tag.e11morphoMembresFB|nl2br }}</li>
    </ul>


    {% endif %}

    <h4>Sac gestationnel</h4>
    <ul>
    <li>Localisation : {{ tag.e11SGlocaFB }}</li>
    <li>Diamètre : {{ tag.e11sgdimdiametreFB }} mm</li>
    <li>Tonicité : {{ tag.e11sgtoniciteFB }}</li>
    <li>Trophoblaste : {{ tag.e11sgtrophoFB }}</li>
    <li>{{ tag.e11sgdecoFB|capitalize }}</li> {# décollement #}
    </ul>

{% endif %}{% if tag.e11nbembryons > 2 %}

{# EMBRYON C #}
  {% if tag.val_e11foetusvuFC == 'B' %} {# EMBRYON C NON VISIBLE #}

  <h3>Embryon C</h3>

  <p>Embryon non visible</p>

  {% elseif tag.val_e11foetusvuFC == 'A' %} {# EMBRYON C VISIBLE #}

  <h3>Embryon B</h3>

  <h4>Vitalité</h4>
  <ul>
  <li>Activité cardiaque : {{ tag.e11embryActiCardFC }}</li>
  {% if tag.e11RCFFC %}<li>Fréquence cardiaque : {{ tag.e11RCFFC }} bpm</li>{% endif %}
  </ul>

  <h4>Biométries <small>(INTERGROWTH-21st)</small></h4>
  <ul>
  <li>Longueur cranio-caudale : {{ tag.e11embryLCCFC }} mm</li>
  {% if tag.e11EmbryBIPFB %}<li>BIP : {{ tag.e11EmbryBIPFC }} mm</li>{% endif %}
  </ul>

  <h4>Morphologie</h4>
  <ul>
  <li>Pôle céphalique : {{ tag.e11morphoCephaFC|nl2br }}</li>
  <li>Membres : {{ tag.e11morphoMembresFC|nl2br }}</li>
  </ul>


  {% endif %}

  <h4>Sac gestationnel</h4>
  <ul>
  <li>Localisation : {{ tag.e11SGlocaFC }}</li>
  <li>Diamètre : {{ tag.e11sgdimdiametreFC }} mm</li>
  <li>Tonicité : {{ tag.e11sgtoniciteFC }}</li>
  <li>Trophoblaste : {{ tag.e11sgtrophoFC }}</li>
  <li>{{ tag.e11sgdecoFC|capitalize }}</li> {# décollement #}
  </ul>

{% endif %}

<br>
<h3>Ovaires</h3>
<h4>Ovaire droit</h4>
<ul>
  <li>{{ tag.e11ovairedtaspect|nl2br }}</li>
  {% if tag.e11ovaireDt %}<li>{{ tag.e11ovaireDt }} mm de grand axe</li>{% endif %}
</ul>

<h4>Ovaire gauche</h4>
<ul>
  <li>{{ tag.e11ovairegaspect|nl2br }}</li>
  {% if tag.e11ovaireG %}<li>{{ tag.e11ovaireG }} mm de grand axe</li>{% endif %}
</ul>

<br>
<h3>Conclusion</h3>
<p>
Date de début de grossesse estimée au {{ tag.ddgReel }} (à 5 jours près) soit un terme ce jour à {{ tag.termeReelJourExamen }}.<br>
{{ tag.e11conclusion|nl2br }}
</p>


<p style="font-size : 8pt; margin-top : 20pt">Par le mot “aspect” on entend que l’opérateur a examiné une structure ou un organe. Dans le compte rendu, une mention de type “structure d’aspect habituel” signifie que cette structure a été vue et a paru normale à l’examinateur. Dans la majorité des cas, il y a concordance entre le résultat du dépistage échographique et l’état de santé de l’enfant. Cependant, comme pour tout dépistage, des faux négatifs sont possibles : une structure considérée comme vue et normale à l’échographie peut s’avérer en réalité absente ou anormale. Des faux positifs sont également possibles : une structure considérée comme non vue ou anormale à l’échographie peut s’avérer en réalité présente ou normale</p>
