{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > models4print : compte-rendu de formulaie issue de grossesse
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 #}

{% set tag = page.courrier %}




<p>Issue de grossesse de {{ tag.identiteUsuelleTitreCourtDdn }}</p>

<span style="font-weight : bold">DDR :</span> {{ tag.45 }} -	<span style="font-weight : bold">DDG théorique : </span>{{ tag.48 }}

<p><span style="font-weight : bold;">DDG retenue : {{ tag.49 }}</span></p>

<p><span style="font-weight : bold; text-decoration: underline">Date de fin de grossesse : {{ tag.225 }}</span></p>

<p><span style="font-weight : bold">Nombre de fœtus : {{ tag.244 }}</span>
</p>

{% if tag.224 %}
Lieu {{ tag.224 }}
{% endif %}

<table class="table">
  {% if tag.244 > 0 %}
  <tr>
    <td>{{ tag.230 }}</td>
    <td>{{ tag.227 }}</td>
    <td>{{ tag.228 }}</td>
    <td>{{ tag.229 }}</td>
    <td>{{ tag.231 }}</td>
    <td>{{ tag.226 }}</td>
  </tr>
  {% endif %}

  {% if tag.244 > 1 %}
  <tr>
    <td>{{ tag.235 }}</td>
    <td>{{ tag.233 }}</td>
    <td>{{ tag.237 }}</td>
    <td>{{ tag.234 }}</td>
    <td>{{ tag.236 }}</td>
    <td>{{ tag.232 }}</td>
  </tr>
  {% endif %}

  {% if tag.244 > 2 %}
  <tr>
    <td>{{ tag.241 }}</td>
    <td>{{ tag.239 }}</td>
    <td>{{ tag.243 }}</td>
    <td>{{ tag.240 }}</td>
    <td>{{ tag.242 }}</td>
    <td>{{ tag.238 }}</td>
  </tr>
  {% endif %}
</table>
