{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > models4print : compte-rendu de formulaie issue de grossesse
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 #}

{% set tag = page.courrier %}




<p>Issue de grossesse de {{ tag.identiteUsuelleTitreCourtDdn }}</p>

<span style="font-weight : bold">DDR :</span> {{ tag.DDR }} -	<span style="font-weight : bold">DDG théorique : </span>{{ tag.ddg }}

<p><span style="font-weight : bold;">DDG retenue : {{ tag.ddgReel }}</span></p>

<p><span style="font-weight : bold; text-decoration: underline">Date de fin de grossesse : {{ tag.igDate }}</span></p>

<p><span style="font-weight : bold">Nombre de fœtus : {{ tag.igNbFoetus }}</span>
</p>

{% if tag.igLieu %}
Lieu {{ tag.igLieu }}
{% endif %}

<table class="table">
  {% if tag.igNbFoetus > 0 %}
  <tr>
    <td>{{ tag.igPrenomFA }}</td>
    <td>{{ tag.SigSexeFA }}</td>
    <td>{{ tag.igPoidsFA }}</td>
    <td>{{ tag.igModaliteFA }}</td>
    <td>{{ tag.igEtatSanteFA }}</td>
    <td>{{ tag.igTermeFA }}</td>
  </tr>
  {% endif %}

  {% if tag.igNbFoetus > 1 %}
  <tr>
    <td>{{ tag.igPrenomFB }}</td>
    <td>{{ tag.SigSexeFB }}</td>
    <td>{{ tag.igPoidsFB }}</td>
    <td>{{ tag.igModaliteFB }}</td>
    <td>{{ tag.igEtatSanteFB }}</td>
    <td>{{ tag.igTermeFB }}</td>
  </tr>
  {% endif %}

  {% if tag.igNbFoetus > 2 %}
  <tr>
    <td>{{ tag.igPrenomFC }}</td>
    <td>{{ tag.SigSexeFC }}</td>
    <td>{{ tag.igPoidsFC }}</td>
    <td>{{ tag.igModaliteFC }}</td>
    <td>{{ tag.igEtatSanteFC }}</td>
    <td>{{ tag.igTermeFC }}</td>
  </tr>
  {% endif %}
</table>
