{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > models4print : page SANS header et SANS footer
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 #}

  <html>
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
      <style>
        @page {
          margin: 40pt 40pt 30pt 40pt;
          font-family: Helvetica;
        }

        .cbox {
          font-family: DejaVu Sans, sans-serif;
          font-size: 10pt;
        }

        h2 {
          margin-top: 4pt;
        }

        h3 {
          margin: 12pt 0 5pt;
          padding: 0;
        }

        h4 {
          margin: 10pt 0 3pt;
          padding: 0;
        }

        ul {
          margin: 0 0 0 10pt;
          padding: 0;
        }

        .gras {
          font-weight: bold;
        }
        .centrer {
          text-align: center;
        }
        .t6 {
          font-size: 6pt;
        }
        .t8 {
          font-size: 8pt;
        }
        .t9 {
          font-size: 9pt;
        }
        .t10 {
          font-size: 10pt;
        }
        .t12 {
          font-size: 12pt;
        }

        .vat {
          vertical-align: top;
        }

        th {
          background: #000;
          color: #FFF;
          text-align: center;
          font-size: 10pt;
        }

        .tabPatiente td {
          vertical-align: top;
          margin: 0;
          padding: 0;
          text-align: left;
        }

        .bordurelat{
          border-left : 1pt solid #000;
          border-right : 1pt solid #000;

        }

      </style>
      <body>
        <!-- stop head -->
        <div class="t8">

{% set tag = page.courrier %}

<h2 class="centrer">PRESCRIPTION MÉDICALE POUR LES MARQUEURS SERIQUES MATERNELS</h2>

<table style="width : 100%">
  <tr>
    <th style="width : 50%">
      ÉCHOGRAPHISTE
    </th>
    <th style="width : 50%">
      PRESCRIPTEUR
    </th>
  </tr>

  <tr>
    <td class="vat" >
      Dr Stephen STRANGE<br>
      177 A, Bleecker Street New York<br>
      Stephen.STANGE@medical.apicrypt.org / 02 00 00 00 00<br>

      N° d'identification :<br>
      N° de réseau :<br>

    </td>
    <td class="vat" >
      Dr Stephen STRANGE<br>
      177 A, Bleecker Street New York<br>
      Stephen.STANGE@medical.apicrypt.org / 02 00 00 00 00<br>

      N° identification :<br>

    </td>
  </tr>

  <tr>
    <th style="width : 50%">
      PATIENTE
    </th>
    <th style="width : 50%">
      ÉCHOGRAPHIE
    </th>
  </tr>

  <tr>
    <td class="vat t8" >

      <table class="tabPatiente" style="width : 100%; padding : 0; margin : 0;">
        <tr>
          <td>NOM</td>
          <td>{{ tag.nomsUsageNaissance }}</td>
        </tr>
        <tr>
          <td>Prénom</td>
          <td>{{ tag.firstname }}</td>
        </tr>
        <tr>
          <td>Adresse</td>
          <td>{{ tag.streetNumber }} {{ tag.street }} {{ tag.postalCodePerso }} {{ tag.city }}</td>
        </tr>
        <tr>
          <td>Date de naissance</td>
          <td>{{ tag.birthdate }}</td>
        </tr>
        <tr>
          <td>Date de début de grossesse</td>
          <td>{{ tag.ddgReel }}</td>
        </tr>
        <tr>
          <td>Poids de la patiente</td>
          <td>{{ tag.poids }} kg</td>
        </tr>
        <tr>
          <td colspan="2">Antécédents au cours d'une grossesse précédente pour la patiente :</td>
        </tr>
        <tr>
          <td>- Trisomie 21</td>
          <td>{{ tag.fmT21AtcdT21 }}</td>
        </tr>
        <tr>
          <td>- Non fermeture du tube neural</td>
          <td>{{ tag.fmT21AtcdTubeNeural }}</td>
        </tr>
        <tr>
          <td>Fumeuse</td>
          <td>{{ tag.fmT21Fumeuse }}{% if tag.fmT21Fumeuse == 'oui' %} - nb. cig/j : {{ tag.fmT21nbCig }}{% endif %}</td>
        </tr>
        <tr>
          <td>Diabète insulino-dépendant</td>
          <td>{{ tag.fmT21Did }}</td>
        </tr>
        <tr>
          <td>Origine géographique</td>
          <td>{{ tag.fmT21OrigineGeo }}</td>
        </tr>
      </table>

    </td>

    <td class="vat" >

      <table class="tabPatiente" style="width : 100%; padding : 0; margin : 0;">
        <tr>
          <td>Date d'échographie</td>
          <td>{{ tag.dateEcho12|date('d/m/Y') }}</td>
        </tr>
        <tr>
          <td>Nombre de foetus</td>
          <td>{{ tag.fmT21NbFoetus }}{% if tag.e12typeGro %} ({{ tag.e12typeGro }}){% endif %}</td>
        </tr>
        {% if tag.fmT21NbFoetus > 1 %}<tr><td colspan="2">Foetus A :</td></tr>{% endif %}
        <tr>
          <td>Longueur cranio-caudale</td>
          <td>{{ tag.lccA }} mm</td>
        </tr>
        <tr>
          <td>Mesure clarté nucale</td>
          <td>{{ tag.cnFA }} mm</td>
        </tr>
        {% if tag.fmT21NbFoetus > 1 %}
          <tr><td colspan="2">Foetus B :</td></tr>
          <tr>
            <td>Longueur cranio-caudale</td>
            <td>{{ tag.lccB }} mm</td>
          </tr>
          <tr>
            <td>Mesure clarté nucale</td>
            <td>{{ tag.cnFB }} mm</td>
          </tr>
        {% endif %}
        {% if tag.fmT21NbFoetus > 2 %}
          <tr><td colspan="2">Foetus C :</td></tr>
          <tr>
            <td>Longueur cranio-caudale</td>
            <td>{{ tag.lccC }} mm</td>
          </tr>
          <tr>
            <td>Mesure clarté nucale</td>
            <td>{{ tag.cnFC }} mm</td>
          </tr>
        {% endif %}
      </table>

    </td>

  </tr>
</table>

<table style="width : 100%">
  <tr>
    <th colspan="3">
      STRATÉGIE DE DÉPISTAGE CHOISIE
    </th>
  </tr>
  <tr>
    <td class="vat" >
      <span class="cbox">{% if tag.val_fmT21StrategieDepis == 'DC1' %}&#9745;{% else %}&#9744;{% endif %}</span>
      Dépistage combiné au 1er trim.<br>
      Grossesse monofœtale UNIQUEMENT :<br>
      Prélèvement entre 11,0 et 13,6 S.A.<br>
      Soit entre le : {{ tag.dc1_s }}<br>
      et le : {{ tag.dc1_e }}
    </td>
    <td class="vat" >
      <span class="cbox">{% if tag.val_fmT21StrategieDepis == 'DS2' %}&#9745;{% else %}&#9744;{% endif %}</span>
      Dépistage séquentiel intégré au 2nd trim.<br>
      Grossesse monofœtale UNIQUEMENT :<br>
      Prélèvement entre 14,0 et 17,6 S.A.<br>
      Soit entre le : {{ tag.ds2_s }}<br>
      et le : {{ tag.ds2_e }}
    </td>
    <td class="vat" >
      <span class="cbox">{% if tag.val_fmT21StrategieDepis == 'MS2' %}&#9745;{% else %}&#9744;{% endif %}</span>
      Marqueurs sériques maternels au 2nd trim.<br>
      Prélèvement entre 14,0 et 17,6 S.A.<br>
      Soit entre le : {{ tag.ms2_s }}<br>
      et le : {{ tag.ms2_e }}
    </td>
  </tr>
</table>

<table style="width : 100%">
  <tr>
    <th colspan="2">
      DÉCLARATION DE CONSENTEMENT
    </th>
  </tr>
  <tr>
    <td colspan="2" class="t9">
      Je soussignée Madame {{ tag.lastname }} {{ tag.firstname }} atteste avoir reçu du Dr Stephen STRANGE au cours d'une consultation médicale en date du {{ tag.date|date("d/m/Y") }}<br>
      des informations sur l'examen des marqueurs sériques maternels dont je souhaite bénéficier :<br>
      - cet examen permet d'évaluer le risque que l'enfant à naître soit atteint d'une maladie d'une particulière gravité, notamment la trisomie 21;<br>
      - une prise de sang est réalisée au cours d'une période précise de la grossesse ;<br>
      - un calcul de risque de trisomie 21 est effectué ; il prend notamment en compte les données de l'échographie prénatale du premier trimestre, lorsque ces résultats sont disponibles et que les mesures échographiques sont estimées fiables ;<br>
      - le résultat est toujours exprimé en risque pour l'enfant à naître d'être atteint de la maladie. Ce risque ne permet pas à lui seul d'en établir le diagnostic ;<br>
      - le résultat du calcul de risque me sera rendu et expliqué par le médecin prescripteur ou un autre praticien ayant l'expérience du dépistage prénatal :<br>
      - si le risque est faible, il n'écarte pas complètement la possibilité pour le fœtus d'être atteint de trisomie 21 ou d'une autre affection ;<br>
      - si le risque est élevé, un prélèvement (de liquide amniotique, de villosités choriales ou de sang fœtal) me sera proposé. Seul le résultat du caryotype fœtal permettra de confirmer ou non l'existence de l'affection. Les risques, les contraintes et les éventuelles conséquences de chaque technique de prélèvement me seront expliqués.<br>

      Je consens à la réalisation du dosage des marqueurs sériques maternels.<br>
      Le dosage des marqueurs sériques maternels sera effectué dans un laboratoire de biologie médicale autorisé par l'agence régionale de santé à les pratiquer.
      L'original du présent document est conservé dans mon dossier médical.<br>
      Une copie de ce document m'est remise ainsi qu'au praticien devant effectuer les dosages biologiques et, le cas échéant, le calcul de risque.<br>
      Le laboratoire de biologie médicale dans lequel exerce le praticien ayant effectué les dosages et, le cas échéant, le calcul de risque conserve ce document dans les mêmes conditions que le compte rendu de l'examen.<br><br>

      Date : {{ tag.date|date("d/m/Y") }}
    </td>
  </tr>
  <tr>
    <td class="vat" >Dr Stephen STRANGE<br><br><br><br></td>
    <td class="vat" >Mme {{ tag.lastname }} {{ tag.firstname }}<br><br><br></td>
  </tr>

</table>

<table style="width : 100%">
  <tr>
    <th colspan="3">
      LABORATOIRE
    </th>
  </tr>
  <tr>
    <td class="vat" >Date de prélévement :</td>
    <td class="vat bordurelat centrer" >Facturation
<br>
      <span class="cbox">&#9744;</span> à votre laboratoire
      <span class="cbox">&#9744;</span> à la patiente
      <span class="cbox">&#9744;</span> en tiers-payant<br>

      <span class="t6">Fournir impérativement copies de la carte navette, de l’ordonnance, les coordonnées de la mutuelle, n° d’adhérent et période de validité.</span>
    </td>
    <td class="vat" >N° de correspondant : </td>
  </tr>

</table>
