{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > models4print : compte-rendu echographie avant 11 SA    
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 #}

{% set tag = page.courrier %}



<h2 style="text-align : center">Madame {{ tag.3 }}  {{ tag.2 }} ({{ tag.8 }})</h2>

<h2>Echographie obstétricale</h2>
Réalisée sur échographe SAMSUNG HS70 mis en circulation le 14/12/2015
<br><br>
<p>
<span style="font-weight : bold">Date d’examen :</span> {{ tag.date|date("d/m/Y") }}<br>
<span style="font-weight : bold">Voie d’examen :</span> {{ tag.133 }}<br>
<span style="font-weight : bold">Conditions d’examen :</span> {{ tag.132 }}<br>
<span style="font-weight : bold">Indication :</span> {{ tag.130 }}<br>
</p>

<span style="font-weight : bold">DDR :</span> {{ tag.45 }} -	<span style="font-weight : bold">DDG théorique : </span>{{ tag.48 }}	- <span style="font-weight : bold">Terme théorique : </span>{{ tag.50 }}


<p><span style="font-weight : bold">Nombre d'embryons : {{ tag.131 }}</span>
{% if tag.131 > 1 %}
<br><span style="font-weight : bold">Type de grossesse :</span> {{ tag.171 }}
<br><span style="font-weight : bold">Membrane :</span> {{ tag.172 }}
{% endif %}
</p>


{# EMBRYON A #}
  {% if tag.val173 == 'B' %} {# EMBRYON A NON VISIBLE #}

  <h3>Embryon</h3>

  <p>Embryon non visible</p>

  {% elseif tag.val173 == 'A' %} {# EMBRYON A VISIBLE #}

  <h3>{% if tag.131 == 1 %}Embryon unique{% else %}Embryon A{% endif %}</h3>

  <h4>Vitalité</h4>
  <ul>
  <li>Activité cardiaque : {{ tag.127 }}</li>
  {% if tag.142 %}<li>Fréquence cardiaque : {{ tag.142 }} bpm</li>{% endif %}
  </ul>

  <h4>Biométries <small>(Robinson / Chitty)</small></h4>
  <ul>
  <li>Longueur cranio-caudale : {{ tag.125 }} mm {% if tag.131 == 1 %}correspondant à un début de grossesse autour du {{ tag.49 }}{% endif %}</li>
  {% if tag.126 %}<li>BIP : {{ tag.126 }} mm</li>{% endif %}
  </ul>

  <h4>Morphologie</h4>
  <ul>
  <li>Pôle céphalique : {{ tag.128|nl2br }}</li>
  <li>Membres : {{ tag.129|nl2br }}</li>
  </ul>


  {% endif %}

  <h4>Sac gestationnel</h4>
  <ul>
  <li>Localisation : {{ tag.117 }}</li>
  <li>Diamètre : {{ tag.123 }} mm</li>
  <li>Tonicité : {{ tag.118 }}</li>
  <li>Trophoblaste : {{ tag.119 }}</li>
  <li>{{ tag.124|capitalize }}</li> {# décollement #}
  </ul>


{% if tag.131> 1 %}

  {# EMBRYON B #}
    {% if tag.val174 == 'B' %} {# EMBRYON B NON VISIBLE #}

    <h3>Embryon B</h3>

    <p>Embryon non visible</p>

    {% elseif tag.val174 == 'A' %} {# EMBRYON B VISIBLE #}

    <h3>Embryon B</h3>

    <h4>Vitalité</h4>
    <ul>
    <li>Activité cardiaque : {{ tag.153 }}</li>
    {% if tag.156 %}<li>Fréquence cardiaque : {{ tag.156 }} bpm</li>{% endif %}
    </ul>

    <h4>Biométries <small>(Robinson / Chitty)</small></h4>
    <ul>
    <li>Longueur cranio-caudale : {{ tag.151 }} mm</li>
    {% if tag.152 %}<li>BIP : {{ tag.152 }} mm</li>{% endif %}
    </ul>

    <h4>Morphologie</h4>
    <ul>
    <li>Pôle céphalique : {{ tag.154|nl2br }}</li>
    <li>Membres : {{ tag.155|nl2br }}</li>
    </ul>


    {% endif %}

    <h4>Sac gestationnel</h4>
    <ul>
    <li>Localisation : {{ tag.143 }}</li>
    <li>Diamètre : {{ tag.149 }} mm</li>
    <li>Tonicité : {{ tag.144 }}</li>
    <li>Trophoblaste : {{ tag.145 }}</li>
    <li>{{ tag.150|capitalize }}</li> {# décollement #}
    </ul>

{% endif %}{% if tag.131 > 2 %}

{# EMBRYON C #}
  {% if tag.val175 == 'B' %} {# EMBRYON C NON VISIBLE #}

  <h3>Embryon C</h3>

  <p>Embryon non visible</p>

  {% elseif tag.val175 == 'A' %} {# EMBRYON C VISIBLE #}

  <h3>Embryon B</h3>

  <h4>Vitalité</h4>
  <ul>
  <li>Activité cardiaque : {{ tag.167 }}</li>
  {% if tag.170 %}<li>Fréquence cardiaque : {{ tag.170 }} bpm</li>{% endif %}
  </ul>

  <h4>Biométries <small>(Robinson / Chitty)</small></h4>
  <ul>
  <li>Longueur cranio-caudale : {{ tag.165 }} mm</li>
  {% if tag.152 %}<li>BIP : {{ tag.166 }} mm</li>{% endif %}
  </ul>

  <h4>Morphologie</h4>
  <ul>
  <li>Pôle céphalique : {{ tag.168|nl2br }}</li>
  <li>Membres : {{ tag.169|nl2br }}</li>
  </ul>


  {% endif %}

  <h4>Sac gestationnel</h4>
  <ul>
  <li>Localisation : {{ tag.157 }}</li>
  <li>Diamètre : {{ tag.163 }} mm</li>
  <li>Tonicité : {{ tag.158 }}</li>
  <li>Trophoblaste : {{ tag.159 }}</li>
  <li>{{ tag.164|capitalize }}</li> {# décollement #}
  </ul>

{% endif %}

<br>
<h3>Ovaires</h3>
<h4>Ovaire droit</h4>
<ul>
  <li>{{ tag.139|nl2br }}</li>
  {% if tag.138 %}<li>{{ tag.138 }} mm de grand axe</li>{% endif %}
</ul>

<h4>Ovaire gauche</h4>
<ul>
  <li>{{ tag.141|nl2br }}</li>
  {% if tag.140 %}<li>{{ tag.140 }} mm de grand axe</li>{% endif %}
</ul>

<br>
<h3>Conclusion</h3>
<p>
Date de début de grossesse estimée au {{ tag.49 }} (à 5 jours près) soit un terme ce jour à {{ tag.termeReelJourExamen }}.<br>
{{ tag.176|nl2br }}
</p>


<p style="font-size : 8pt; margin-top : 20pt">Par le mot “aspect” on entend que l’opérateur a examiné une structure ou un organe. Dans le compte rendu, une mention de type “structure d’aspect habituel” signifie que cette structure a été vue et a paru normale à l’examinateur. Dans la majorité des cas, il y a concordance entre le résultat du dépistage échographique et l’état de santé de l’enfant. Cependant, comme pour tout dépistage, des faux négatifs sont possibles : une structure considérée comme vue et normale à l’échographie peut s’avérer en réalité absente ou anormale. Des faux positifs sont également possibles : une structure considérée comme non vue ou anormale à l’échographie peut s’avérer en réalité présente ou normale</p>
